.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f7f7f7; /* Adding a light background color */
}

.formContainer {
  width: 100%;
  max-width: 450px;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 1.8rem; /* Larger font for the title */
  margin-bottom: 15px; /* Space below the title */
}

.description {
  text-align: center;
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #555;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.submitBtn {
  width: 100%;
  padding: 15px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 8px; /* Rounded corners */
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.submitBtn:hover {
  background-color: #005bb5;
}

.message {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 20px;
  color: green;
}

.error {
  color: red;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 10px;
}

.accountPromptWrapper {
  text-align: center;
  font-size: 0.85rem;
  margin-top: 20px;
}

.signInLink {
  color: #0070f3;
  text-decoration: none;
}

.signInLink:hover {
  text-decoration: underline;
}
