.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8f9fa; 
  padding: 20px;
}

/* Form wrapper */
.formWrapper {
  width: 100%;
  max-width: 400px;
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  text-align: center; 
}

/* Title styling */
.title {
  font-size: 1.8rem;
  color: #333; 
  margin-bottom: 15px;
  font-weight: bold;
}

/* Description styling */
.descriptionCentered {
  font-size: 1rem;
  color: #666; 
  margin: 10px 0 20px;
}

/* Input group wrapper */
.inputGroup {
  margin-bottom: 20px;
  text-align: left; 
}

/* Label styling */
.label {
  display: block;
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 5px;
}

/* Input field styling */
.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9rem;
}

.input:focus {
  outline: none;
  border-color: #0070f3;
  box-shadow: 0 0 5px rgba(0, 112, 243, 0.3);
}

/* Invalid input state */
.invalid {
  border-color: red;
}

/* Error message styling */
.error {
  color: red;
  font-size: 0.85rem;
  margin-top: 5px;
}

 /* Buttons */
 .button {
  width: 100%;
  padding: 12px;
  background-color: #0070f3; 
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  text-transform: uppercase;
}

.button:hover {
  background-color: #005bb5; 
  transform: translateY(-2px); 
}

.button:active {
  transform: translateY(0); 
}

/* Centered account prompt wrapper */
.accountPromptWrapper {
  font-size: 0.9rem;
  margin-top: 20px; 
  color: #666666;
  text-align: center;
}

/* Log in link styling */
.logIn {
  font-size: 0.85rem; 
  color: #0070f3;
  margin-top: 10px; 
  font-weight: bold; 
  text-decoration: none;
  
}

.logIn:hover {
  text-decoration: underline;
}


